* {
  margin: 0;
  padding: 0;
}

.site-container {
  overflow: hidden;
}

body {
  font-family: "Gelasio", serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

body {
  background: #263f31;
  color: #000;
}

.logo {
  height: 100px;
  width: 100px;
}

.main-form {
  max-width: 600px;
  min-width: 250px;
}
.main-form .form-control {
  border: 1px solid #ced4da;
}
.main-form .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #263f31;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(38, 63, 49, 0.5);
}

.navbar .nav-item {
  font-size: 1rem;
  padding-right: 15px;
  display: block;
  padding: 0.5rem 1rem;
}
.navbar .profile_picture_nav {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 75%;
}

@media (max-width: 370px) {
  .navbar .navbar-brand img {
    width: 40px;
    height: 40px;
  }
  .navbar .navbar-brand h3 {
    font-size: 1.5rem;
  }
}
.menu-option-img {
  max-width: 150px;
}

.profile_picture {
  border: 2px solid #000;
  border-radius: 5%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#bidding {
  float: left;
  width: 600px;
  margin-right: 100px;
  text-align: center;
  min-height: 280px;
}

#biddingbox {
  float: left;
  width: 450px;
  text-align: center;
  min-height: 280px;
}

.bid {
  width: 70px;
  height: 50px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border: 3px solid gray;
  color: lightgray;
  font-size: 24px;
  background-color: black;
  float: left;
  cursor: pointer;
  border-radius: 15%;
}

@media (max-width: 500px) {
  .bid {
    width: 60px;
    height: 50px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    color: lightgray;
    font-size: 20px;
    background-color: black;
    float: left;
    cursor: pointer;
    border-radius: 15%;
  }
}
@media (max-width: 370px) {
  .bid {
    width: 50px;
    height: 45px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    color: lightgray;
    font-size: 17px;
    background-color: black;
    float: left;
    cursor: pointer;
    border-radius: 15%;
  }
}
.bid:hover {
  background-color: #222222;
  color: white;
}

#biddingbox_bottom input {
  width: 60px;
  height: 50px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border: 3px solid gray;
  color: lightgray;
  font-size: 24px;
  background-color: black;
  float: left;
  cursor: pointer;
  border-radius: 15%;
}

.biddingbox_bottom:after {
  clear: both;
}

.biddingbox_bottom_button {
  float: left;
  width: 97px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border: 3px solid gray;
  color: lightgray;
  font-size: 24px;
  background-color: black;
  float: left;
  cursor: pointer;
  border-radius: 15%;
}

@media (max-width: 500px) {
  .biddingbox_bottom_button {
    float: left;
    width: 80px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    color: lightgray;
    font-size: 20px;
    background-color: black;
    float: left;
    cursor: pointer;
    border-radius: 15%;
  }
}
@media (max-width: 370px) {
  .biddingbox_bottom_button {
    float: left;
    width: 63px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    color: lightgray;
    font-size: 17px;
    background-color: black;
    float: left;
    cursor: pointer;
    border-radius: 15%;
  }
}
.biddingbox_bottom_button_back {
  width: 70px;
}

.biddingbox_bottom_button_send {
  width: 340px;
}

.biddingbox_bottom_button:hover {
  background-color: #222222;
  color: white;
}

.bidding_desk_column {
  width: 20px;
}

.player_turn {
  text-align: left;
  font-size: 24px;
  color: #ff9100;
}

.card_table_view {
  font-size: 20px;
  margin-left: 30px;
}

.hand {
  margin-left: 30px;
}

#main-footer {
  background: #000;
  color: #fff;
  height: 2.7rem;
}
#main-footer .copyright a {
  text-decoration: none;
  color: #7c2f62;
}
#main-footer .footer-container {
  max-width: 100%;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}
@media (max-width: 500px) {
  #main-footer {
    visibility: hidden;
  }
}
@media (max-height: 600px) {
  #main-footer {
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
