//General Styles
* {
  margin: 0;
  padding: 0;
}

.site-container {
  overflow: hidden;
}

body {
  font-family: "Gelasio", serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

body {
  background: #263f31;
  color: #000;
}

.logo {
  height: 100px;
  width: 100px;
}

// Form

.main-form {
  max-width: 600px;
  min-width: 250px;

  .form-control {
    border: 1px solid #ced4da;
  }

  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #263f31;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(38, 63, 49, 0.5); //#67151562;
  }
}

//Navbar
.navbar {
  .nav-item {
    font-size: 1rem;
    padding-right: 15px;
    display: block;
    padding: 0.5rem 1rem;
  }

  .profile_picture_nav {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 75%;
  }
}

// Menu

.menu-option-img {
  max-width: 150px;
}

//Pictures
.profile_picture {
  border: 2px solid #000;
  border-radius: 5%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

// Footer

#main-footer {
  background: #000;
  color: #fff;
  height: 2.7rem;

  .copyright a {
    text-decoration: none;
    color: rgb(124, 47, 98);
  }

  .footer-container {
    max-width: 100%;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
  }

  @media (max-width: 500px) {
    visibility: hidden;
  }

  @media (max-height: 600px) {
    visibility: hidden;
  }
}
